#details-view.well
  .row(ng-show='currentItem')
    .col-md-9
      #item-settings.well.well-lg
        div name:&nbsp
          span(editable-text='currentItem.name') {{currentItem.name}}
        div weight:&nbsp
          span(editable-text='currentItem.weight', onaftersave='updateCategory()') {{currentItem.weight}}
        div category:&nbsp
          span.btn-group.dropup(dropdown, dropdown-append-to-body)
            a(href, dropdown-toggle) {{currentItem.category || 'none'}}
            ul.dropdown-menu(role='menu')
              li(ng-repeat='category in categories')
                a(href='#', ng-click='selectCategory(category.name)') {{category.name}}
              li.divider
              li
                a(href='#', ng-click='addNewCategory()') Add new category
              li
                a(href='#', ng-click='manageCategories()') Manage categories
    .col-md-3.pull-right
      #item-image.well.well-lg
        div(ng-hide='currentItem.imageID === ""')
          .row
            img(ng-src='{{currentItemImagePath.path}}')
            span
              button.btn.btn-danger.btn-xs#remove-item-image(ng-click='removeItemImage(currentItem)')
                i.fa.fa-remove
          .row
            button.btn.btn-primary(ngf-select, ng-model='imageFile', ngf-change='onImageFileSelect($files)',
            accept='image/*') Upload image
        #image-menu
          button.btn.btn-success.pull-left#image-menu-button(type='button',
            popover-template='popover.imageMenuTemplateUrl',
            popover-placement='bottom', popover-title='Select image', popover-toggle='imageMenuOpen',
            ng-click='imageMenuOpen = !imageMenuOpen', ng-blur='imageMenuOpen = false')
              i.fa.fa-angle-down
        #image-upload(ng-hide='currentItem.imageID !== ""')
          .row
            button.btn.btn-primary(ngf-select, ng-model='imageFile', ngf-change='onImageFileSelect($files)',
              accept='image/*') Upload image
          .row
            .drop-box(ngf-drop, ng-model='files', ngf-drag-over-class='dragover',
              ngf-accept="'image/*'", ngf-change='imageFileDropped($files, $event, $rejectedFiles)'
              ) Drop image file